* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.main_container {
    background-color: red;
    height: 100vh;
    width: 100%;
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(3,minmax(100px, 250px));
    justify-content: center;

}
.main_social_media {
    text-align: center;
    justify-content: center;
}
.social_media_container{
    border: black solid 1px;
    /* height: 200px;
    width: 200px; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}
.social_media_img {
    /* width: 100%; */
    width: 50px;
}
.main_group_title {
    margin-bottom: 20px;
}
